<!DOCTYPE html>
<html>
	<head>
		<title>Venturesity Demo App</title>
		<link rel="stylesheet" href="css/bootstrap.min.css"/> 
		<link rel="stylesheet" href="css/style.css" />
		<link rel="stylesheet" href="css/font-awesome.min.css"/>

		<script src="js/jquery.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script type="text/javascript" src="./lib/angular.min.js"></script>
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-animate.js"></script>
	    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-sanitize.js"></script>
	    <script src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-2.5.0.js"></script>
		
		<script type="text/javascript" src="./js/app.js"></script>
		<script type="text/javascript" src="./js/controller.js"></script>
	</head>
	<body ng-app="formApp" ng-controller="formCtrl">
		<div class="row heading">

		</div>
		<div class="container" style="width: 50%">
			<div class="getBtn" ng-hide="hideDiv">
				<button type="button" ng-click="searchBtn()"  class="btn btn-primary btn-lg btn-block">GET FORM</button>
			</div>
			<form class="form-horizontal formBackground"  ng-show="showDiv" name="myForm" role="form" ng-submit="submitForm()" novalidate>
				<h3 class="text-center"><strong ng-show="showDiv">Form Name:</strong><span class="labelHeading">{{item.form_name}}</span></h3>
				<hr ng-show="showDiv"></hr>
				<div ng-repeat="(i,field) in item.form_fields" class="col-md-12">
					<ng-form name="form">
					  <div ng-if="field.component=='textinput'" class="form-group">
					    <label for="inputEmail3" class="control-label labelHeading">{{field.label}}</label> <span class="reqrd" ng-show="field.required == true">*</span>
					    <!-- <div> -->
					      <input type="text" name="name" class="form-control inputWidth" id="inputEmail3" ng-readonly="{{field.editable}}"  ng-required="{{field.required}}" value="{{field.description}}" ng-pattern="/{{field.validation}}/" ng-model="field.description">

					      <p ng-show="myForm.name.$error.pattern" class="help-block">You name is required.</p>

					      
					    <!-- </div> -->
					  </div>
					   <div ng-if="field.component =='textarea'" class="form-group">
					    <label for="inputPassword3" class="control-label labelHeading">{{field.label}}</label><span class="reqrd" ng-show="field.required == true">*</span>

					      <textarea class="form-control inputWidth" rows="3" ng-readonly="{{field.editable}}" ng-required="{{field.required}}">{{field.description}}</textarea>
					  </div>
					  <div ng-if="field.component =='radio'" class="form-group">
					  	<div>
					  		<label class="labelHeading" style="text-align: left;">{{field.label}}</label><span class="reqrd" ng-show="field.required == true">*</span>
					  		<div>{{field.description}}</div>
					  	</div> 
					  	<div class="col-sm-12">
							<label class="radio" ng-repeat="radiobtn in field.options">
							  	<input type="radio" name="{{'bn'+i}}" ng-model="field.autoselect" ng-checked="field.autoselect.indexOf(radiobtn) > -1" value="{{field.autoselect}}"  ng-disabled="{{field.editable}}" ng-required="{{field.required}}"> {{radiobtn}}
							</label>
						</div>
					  </div>
					  <div ng-if="field.component =='checkbox'" class="form-group">
					  	<div>
					  		<label class="labelHeading" style="text-align: left;">{{field.label}}</label><span class="reqrd" ng-show="field.required == true">*</span>
					  		<div>{{field.description}}</div>
					  	</div>
					  	<div class="col-sm-12">
							<label class="checkbox" ng-repeat="checkbox in field.options">
							  	<input type="checkbox"  ng-checked="field.autoselect.indexOf(checkbox) > -1" value="{{checkbox}}"  ng-disabled="{{field.editable}}" ng-required="{{field.required}}"> {{checkbox}}
							</label>
						</div>
					  </div>
					  <div ng-if="field.component =='select'" class="form-group">
					  	<div>
					  		<label class="labelHeading" style="text-align: left;">{{field.label}}</label><span class="reqrd" ng-show="field.required == true">*</span>
					  		<div>{{field.description}}</div>
					  	</div> 
					  	<div>
							<select name="multipleSelect" class="selectBox" id="multipleSelect" ng-model="field.autoselect" multiple>
							      <option ng-repeat="selectBox in field.options"  ng-disabled="{{field.editable}}" value="{{selectBox}}">{{selectBox}}</option>
							</select>
						</div>
					  </div>

					</ng-form>
				</div>
			    <div class="form-group">
			    	<div class="col-sm-10">
			      		<button  ng-show="showDiv" type="submit" class="btn btn-success btn-lg">Submit</button>
			    	</div>
			  </div>
			</form>
			<script type="text/ng-template" id="winPopup">
		        <div class="modal-header">
		            <h3 class="modal-title">Congratulation</h3>
		        </div>
		        <div class="modal-body">
		            Form submitted successfully
		        </div>
    		</script>
		</div>
	</body>
</html>